/* Scss Document */
/** HEADER **/
/* line 5, ../scss/partials/_header.scss */
*, *:before, *:after { box-sizing: border-box; }

/* line 11, ../scss/partials/_header.scss */
html { background-color: #ffffff; font-family: Raleway, Montserrat, sans-serif; }

/* line 16, ../scss/partials/_header.scss */
body { margin-left: auto; margin-right: auto; }

/* line 21, ../scss/partials/_header.scss */
hr { color: #999999 !important; }

/* line 25, ../scss/partials/_header.scss */
header { position: relative; }

/* line 29, ../scss/partials/_header.scss */
#header1 { padding: 2em 0em 0em 1em; text-align: left; }

/* line 34, ../scss/partials/_header.scss */
#header2 { padding: 2em 0em 0em; text-align: center; }

/* line 39, ../scss/partials/_header.scss */
#header3 { padding: 2em 1em 0em 0em; text-align: right; }

/* line 44, ../scss/partials/_header.scss */
.position-sticky { display: block; top: 0; z-index: 1020; }

/* line 50, ../scss/partials/_header.scss */
.ul, .li { list-style: none; list-style-type: none; }

/* line 55, ../scss/partials/_header.scss */
li.header-icons { list-style-type: none; }

/* line 59, ../scss/partials/_header.scss */
img.header-icons { padding: .5em; width: 3em; }

/* line 64, ../scss/partials/_header.scss */
p.header-icons { font-size: .5em; }

/* line 68, ../scss/partials/_header.scss */
#searchModal { bottom: 0px; box-sizing: border-box; color: #999999; display: block; font-family: montserrat, sans-serif; font-size: 1em; font-weight: 400; left: 0px; letter-spacing: 0.6px; line-height: 1.5em; margin-top: 11.1em; overflow: hidden auto; overflow-x: hidden; overflow-y: auto; position: fixed; text-align: left; transition-delay: 0s; transition-duration: 0.15s; transition-property: opacity; transition-timing-function: linear; z-index: 1050; }

/* line 93, ../scss/partials/_header.scss */
.modal-header { border-bottom: none !important; border-radius: 0px !important; }

/* line 98, ../scss/partials/_header.scss */
.modal-content { border: none !important; }

/* line 102, ../scss/partials/_header.scss */
label.visually-hidden { font-family: montserrat, sans-serif; font-size: 18px; font-weight: 600; text-transform: uppercase; line-height: 2em; }

/* line 110, ../scss/partials/_header.scss */
input.simple-search { height: 2.4em; width: 16em; }

/* line 115, ../scss/partials/_header.scss */
input.searchSubmitBtn { height: 2.4em; text-transform: uppercase; width: 9em !important; }

/* line 121, ../scss/partials/_header.scss */
option { font-family: montserrat, sans-serif; font-size: 1em; font-weight: 100; text-transform: uppercase; line-height: 2em; }

/* line 129, ../scss/partials/_header.scss */
.topNav { align-self: center; margin-top: -2.2em; }

/* line 134, ../scss/partials/_header.scss */
.topNav > li { text-align: center; }

/* line 138, ../scss/partials/_header.scss */
.nav-item { padding: 0em 1em; }

/* line 142, ../scss/partials/_header.scss */
.nav-link { text-transform: uppercase; }

/* line 146, ../scss/partials/_header.scss */
#roadModal { border: none; left: -15em; margin-top: 1.6em; width: 100%; }

/* line 153, ../scss/partials/_header.scss */
h2.dropdown-title { text-align: center; }

/* line 157, ../scss/partials/_header.scss */
a.dropdown-title { color: #000000; font-size: 1em; text-decoration: underline; }

/* line 163, ../scss/partials/_header.scss */
li.dropdown-subheader { list-style-type: disc !important; }

/* line 167, ../scss/partials/_header.scss */
a.dropdown-subheader { color: #000000; font-size: 1em; }

/* line 172, ../scss/partials/_header.scss */
li.dropdown-item1 { list-style-type: circle !important; }

/* line 176, ../scss/partials/_header.scss */
a.dropdown-item1 { color: #000000; font-size: .75em; }

@media (min-width: 979px) { /* line 183, ../scss/partials/_header.scss */
  #topheader1, #topheader2, #topheader3 { background-color: #000000; color: #ffffff; font-family: montserrat, sans-serif; font-size: .75em; padding: 1em 0em; text-align: center; text-decoration: none; }
  /* line 193, ../scss/partials/_header.scss */
  #topheader2, #topheader3 { border-left: 2px solid #ffffff; }
  /* line 197, ../scss/partials/_header.scss */
  .dropdown:hover > .dropdown-menu { display: block; }
  /* line 201, ../scss/partials/_header.scss */
  .custom-dropdown { min-width: 979px !important; }
  /* line 208, ../scss/partials/_header.scss */
  .ddMenu { top: 16em; left: 0 !important; right: 0 !important; padding: 0 0 0 10px !important; background-color: #ffffff; border: 1px solid #999999; border-radius: 0px !important; max-height: calc(100vh - 120px) !important; position: fixed !important; overflow-y: scroll !important; overflow-x: hidden !important; opacity: .95 !important; background-clip: padding-box; box-sizing: border-box; color: #212529; display: none; float: none; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; font-size: 16px; font-weight: 400; left: 0px; line-height: 24px; list-style-image: none; list-style-position: outside; list-style-type: none; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; margin-top: 2px; max-height: 561px; min-width: 160px; opacity: 0.95; overflow: hidden scroll; overflow-x: hidden; overflow-y: scroll; padding-bottom: 8px; padding-left: 0px; padding-right: 0px; padding-top: 8px; position: absolute; right: 0px; text-align: left; top: 100%; z-index: 1000; } }
/* line 279, ../scss/partials/_header.scss */
footer, div.footer { background-color: #000000; height: 20em; }

/* line 285, ../scss/partials/_header.scss */
form { width: 600px; margin: 2em auto; font-family: 'Source Sans Pro', sans-serif; font-weight: 300; font-size: 22px; }

/* line 293, ../scss/partials/_header.scss */
form legend { border-bottom: 1px solid #999999; color: #000000; font-family: alternate-gothic-no-1-d, sans-serif; font-size: 1.25em; font-style: normal; font-weight: 400; letter-spacing: 1px !important; line-height: 1.5em; margin-bottom: 1em; max-width: 365px !important; text-transform: uppercase; width: 365px !important; }

/* line 308, ../scss/partials/_header.scss */
label { position: relative; top: 0; left: 0; font-size: 10px; color: #000000; text-transform: none; margin: 4px 0 0 38px; line-height: 20px; letter-spacing: .5px; transition: all .2s ease; z-index: 99; }

/* line 322, ../scss/partials/_header.scss */
input { color: #888888 !important; font-family: montserrat, sans-serif !important; font-size: 13px !important; font-weight: 400 !important; letter-spacing: .5px !important; line-height: 18px !important; }

/* line 331, ../scss/partials/_header.scss */
span { color: #888888; font-family: montserrat, sans-serif; font-size: 12px; font-weight: 400; letter-spacing: .8px; text-transform: uppercase; width: 100%; }

/* line 343, ../scss/partials/_header.scss */
#animation_container { background-color: #ffffff; height: 760px; margin-left: auto !important; margin-right: auto !important; width: 1200px; }

/* line 351, ../scss/partials/_header.scss */
#canvas { display: block; background-color: #ffffff; }

/* line 356, ../scss/partials/_header.scss */
.dom_overlay_container { pointer-events: none; overflow: hidden; width: 100%; display: block; }

/* line 365, ../scss/partials/_header.scss */
.vertical-line { border-left: 1px solid #999999; height: 480px; position: absolute; left: 50%; top: 19.5em; }

/* line 373, ../scss/partials/_header.scss */
div.control { border: 1px solid #999999; border-radius: 0px !important; margin-bottom: .5em; padding: 1em !important; width: 365px !important; }

/* line 381, ../scss/partials/_header.scss */
.required-indicator { color: #EA0000 !important; margin-left: 0 !important; }

/* line 386, ../scss/partials/_header.scss */
.float-label .control { float: left; position: relative; width: 100%; border-bottom: 1px solid #ddd; padding-top: 23px; padding-bottom: 10px; }

/* line 395, ../scss/partials/_header.scss */
.float-label .control:last-child { border: 0; }

/* line 399, ../scss/partials/_header.scss */
.float-label input, .float-label textarea { display: block; width: 100%; border: 0; outline: 0; resize: none; }

/* line 408, ../scss/partials/_header.scss */
.float-label input + label, .float-label textarea + label { position: absolute; top: 10px; transition: top 0.7s ease, opacity 0.7s ease; opacity: 0; font-size: 12px; font-family: montserrat, sans-serif; font-weight: 400; color: #999999; }

/* line 425, ../scss/partials/_header.scss */
.float-label input:focus + label, .float-label textarea:focus + label { opacity: 1; top: 3px; }

/* line 431, ../scss/partials/_header.scss */
.password-reset { color: #000000; display: block; font-family: montserrat, sans-serif; font-size: 10px; letter-spacing: .5px; margin-bottom: 12px; text-decoration: underline; }

/* line 441, ../scss/partials/_header.scss */
.btn-primary { background-color: #000000 !important; border-radius: 0px !important; color: #ffffff !important; cursor: pointer; font-family: alternate-gothic-no-1-d, sans-serif; font-size: 18px; font-weight: 400; height: 60px; letter-spacing: 2.1px; line-height: 24px; width: 365px !important; }

/* line 455, ../scss/partials/_header.scss */
.custom-checkbox { border-bottom: 1px solid #999999; max-width: 365px !important; width: 365px !important; }

/* line 461, ../scss/partials/_header.scss */
.input-checkbox { border: 1px solid #999999 !important; border-radius: 0px !important; font-family: montserrat, sans-serif !important; font-size: 12px !important; font-weight: 400 !important; height: 24px !important; position: relative; text-align: left !important; top: -2.5em; width: 24px !important; }

/*# sourceMappingURL=_header.css.map */
