/* Scss Document */

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

#animation_container {
	background-color: #ffffff; 
	height: 60vh; 
	margin-left: auto !important; 
	margin-right: auto !important;
    padding-bottom: 1em;
	width: 100%;
}

#canvas {
	display: block; 
	background-color: #ffffff;
}

.dom_overlay_container {
	pointer-events: none; 
	overflow: hidden;
	width: 100%; 
	display: block;
}

.hero_image {
	padding: .5em 0;
	width: 100%;
}

.jumbotron-1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        display: block;
        margin: 0 auto;
    }
    p{
        display: block;
        margin: 0 auto;       
    }
    .btn {
        display: block;
        margin: 0 auto;
    }    
}

.jumbotron-2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h4 {
        color: #f3f5f4;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .btn {
        display: block;
        margin: 0 auto;
    }
}

.jumbotron-4 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.inventory {
    display: block;
    margin: 0 auto;
    table {
        th {
            border: 1px solid;
            font-size: 1em;
            text-align: center;
            margin: 0 .5em;
        }
        td {
            border: 1px solid;
            font-size: .75em;
            text-align: center;
            img {
                max-width: 2em !important;
            }
        }
    }
}

.card-sales {
    .card-header {
        font-size: 2em;
    }
    .card-image {
        max-width: 20em;
    }
}