/* Scss Document */

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

#animation_container {
	background-color: #ffffff; 
	height: 760px; 
	margin-left: auto !important; 
	margin-right: auto !important;
	width: 1200px;
}

#canvas {
	display: block; 
	background-color: #ffffff;
}

.dom_overlay_container {
	pointer-events: none; 
	overflow: hidden;
	width: 100%; 
	display: block;
}

.hero_image {
	padding: .5em 0;
	width: 100%;
}

img.jumbotron-2 {
    width:100%;
}

img.jumbotron-4 {
    width: 100%;
}