/* Scss Document */

$primary_color: #a3a4a1;
$secondary_color: #f3f5f4;
$tertiary_color: #0f0d0e;

$primary_font_color: #0f0e0e;
$secondary_font_color: #ededed;

$success_color: #30a66b;
$info_color: #a69630;
$warning_color: #b20000;
$danger_color: #a63e30;
$light_color: #f8f9fa;
$dark_color: #343a40;
$white_color: #fffffff;