/* Scss Document */

footer {
    background: #343a40;
    .col-md-3 {
        background: #343a40;
    }
    ul {
        display: block;
        list-style-type: none;
        margin: 3em auto;
        padding-bottom: 2em;
        text-decoration: none;
        li {
            color: #f3f5f4;
            font-size: 1em;
            font-weight: 200;
            a {
                color: #f3f5f4;
            }
        }
        li.list-title {
            font-weight: bold;
        }
    }
}

.address-text {
    color: #f3f5f4;
    font-size: 1em;
    font-weight: 200;
    margin-top: 5em;
    text-align: center;
}

.map-size {
    padding: 2em 0;
    width: 15em;
}

.social-icon {
    padding-bottom: 4em;
    width: 3em;
}